*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    background: bisque;
}
.Login-container{
 width: 420px;   
 background: white;
}
.Login-container{
    font-size: 36px;
    text-align: center;
}
.Login-container .input{
    width: 100%;
    height: 50px;
    margin: 30px;

}